body{
    padding: 4.5rem;
    background-color:#EDD0CC;
    font-family: Arial, Helvetica, sans-serif;
    height: 65rem;
}
.cnt{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 55rem;
    /* background-color: black; */
    /* box-shadow:1px 1 10px 0 rgb(126, 119, 119); */
}

.pp{
    margin-top: 10rem;
}

.first{
    width: 50%;
    height: 55rem;
    background-color:#F7F7F7;
    padding: 3rem;
}
footer{
    margin-bottom: 0%;
    margin-top: 4.85rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.scd{
    width: 50%;
    height: 55rem;
    background-color: #FFFFFF;
    padding: 3rem;
}

.br{

    font-size: small;
    color: #CECECE;
}

.slt{
    color: #000;
    font-size: 1.002rem;
    margin-top: 0px;
    
}

.btn{
    line-height: 0px;
}

button{
    margin-top: 0px;
    border: 0.3px solid lightgray;
    background-color: white;
    height: 2.3rem;
    width: 9.3rem;
    margin-right: 0px;
    border-radius: 1rem;
    /* border:  2px solid #CECECE;;    */
}

.arrow{
    font-size: larger;
    font-size: 1.5rem;
}
.pre{
    background-color:#F7F7F7;
}

a{
    text-decoration: none;
}

.style{
    width: 8rem;
    margin-bottom: 0px;
}

.b{
    background-color: azure;
}

h1{
    line-height: 0px;
    margin-top: 0px;
}

.color1{
    height: 2rem;
    width: 2rem; 
    border-radius: 50%;
    background-color: #28D0BF;
}

.color2{
    height: 2rem;
    width: 2rem; 
    border-radius: 50%;
    background-color:#0E1237;
}

.color3{
    height: 2rem;
    width: 2rem; 
    border-radius: 50%;
    background-color:#F6F6F6;
}

.color4{
    height: 2rem;
    width: 2rem; 
    border-radius: 50%;
    background-color: white;
}

.sec{
    height: 5rem;
    width:73rem ;
    /* border:1px solid #000 ; */
    background-color: #FFFFFF;
    position: fixed;
    bottom: 27px;
    display:flex;
    flex-direction: row;
    box-shadow:0 0 8px  #d8d8d8;
    left:  13rem;
    padding: 1rem 3rem ;
    padding-left: 4.5rem;
    padding-right: 2rem;
    right: 2rem;
    border-radius: 3px;
}

.f{
    height: 4rem;
    width:4rem ;
    background-color:#F7F7F7;
    padding-left:0.05rem ;
    margin-top: 0.68rem;
}
 
.fr{
    height: 3.9rem;
    width: 3.9rem;
}

.h{
    height: 4rem;
    margin-left: 2.5rem;
    line-height: 0.8rem;
}

.h p{
    color:  #CECECE;;
}

.px{
    margin-top: 1.5rem;
    line-height: 1.5rem;
}

.pls{
    height: 3rem;
    margin-top: 0rem;
    line-height: 0.4rem;
    margin-left: 7.2rem;

}

.plus{
    height: 2.3rem;
    width:2.3rem ;
    box-shadow:0 0 8px 0 #a09a9a;
    text-align: center;   
    margin-top: 0px;
    align-content: center;

}

.plus b{
    font-size: 2rem;
    margin-top: 00.1rem;
    line-height: 2rem;
    color: #4d4a4a;
}

.add{
    background-color: #011588;
    color: #ffffff;
    height: 3.5rem;
    width: 13rem;
    margin-top: 0.8rem;
    margin-left: 1rem;
}
.last{
    margin-left: 15rem;
    display: flex;
    flex-direction: row;
}
.last h2{
    margin-top:1.5rem ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.select{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
}

.select1{
    height: 2rem;
    text-align: center;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom:3px solid #2F3251;
    width: 13rem;
    /* background-color: #28D0BF; */
}

.select2{
    height: 2rem;
    text-align: center;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom:3px solid #dbd3d3;
    width: 13rem;
    /* background-color: #28D0BF; */


}

.select3{
    height: 2rem;
    text-align: center;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom:3px solid #cabbbb;
    width: 13rem;
    /* background-color: #28D0BF; */
    
}

.stock{
    height: 5rem;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 2.3rem;
}
.img{
    height: 6.3rem;
    width:  6.3rem;

}

.c{
    margin-top: 3em;
    margin-bottom: 0.2rem;
}

.img img{
    height:  6.3rem;
    width:  6.3rem;
    margin-top: 0px;
    
}
.m{
    margin-top: 5px;
    margin-left: 1rem;
    padding-top:7px ;
}

.circle{
    padding: 1px 2px;
    text-align: center;
    color: white;
    border-radius: 7.25px;
    position: absolute;
    background-color: #28D0BF ;
    left: 16.5px;
    top: 9.5px;
    font-size: smaller;
}
.rate{
    /* background-color: pink; */
    width: 12px;
    height: 12px;
    
}
.container{
    position: relative;
    /* background-color: red; */
    width:  50px ;
    height: 50px;
    display: flex;
    align-items: center;
}